<% content_for :nav, render('shared/form_navbar') %>
  <div class="maxi-search-bar-home maxi-choose-bias-form absolute-form javi">
    <%= simple_form_for @comparison do |f| %>
      <%= f.input :publisher_one, label: false %>
      <%= f.input :publisher_two, label: false %>
      <%= f.button :submit, 'Compare', class: "button-white javi-compare-button", disabled: false %>
    <% end %>
  </div>
  <div id="map"
    style="width: 100%; height:83vh; margin: 0 auto; margin-bottom: 100px;"
    data-markers="<%= @markers.to_json %>"
    data-counters="<%= @articles.map { |article| article["source"] }.tally %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

   <% @articles.each do |article| %>
      <a href=<%= article["url"]%>>
        <p>Author <span style="color: white"><%= article["author"] %></span> </p>
        <p>title <span style="color: white"><%= article["title"] %></span> </p>
        <p>description <span style="color: white"><%= article["description"] %></span> </p>
        <p>source <span style="color: white"><%= article["source"] %></span> </p>
        <p>sentiment title: <span style="color: white"><%= article["sentiment_title_string"] %></span> </p>
        <p>sentiment title: <span style="color: white"><%= article["sentiment_title_score"]%></span> </p>
        <p>sentiment description: <span style="color: white"><%= article["sentiment_description_string"] %></span> </p>
        <p>sentiment description: <span style="color: white"><%= article["sentiment_description_score"]%></span>
        <p>word count description: <span style="color: white"><%= article["tokenized"]%></span>
        <%# <p>words tokenized: <span style="color: white"><%= article["words_tokenized"]%></span>
        <p><%=article["published_at"] %></span>

        <div id="my_canvas" data-words="<%= @words %> "style='height: 600px; width: 960px; border-radius: 8px;'></div>

    <% end %>

</div>
