<% articles_one = locals[:articles_one]  %>
<% articles_two = locals[:articles_two]  %>
<% comparison = locals[:comparison]  %>

<div class="comparison-container">
  <h1> <%= comparison.topic.upcase %></h1>
  <div class="articles-compare-container">
    <div class=articles-left>
      <div class="comparison-header">
         <h2 class="header" id="myHeader">
            <%= unless (articles_one.empty? || articles_one.nil? )
              if articles_one.first["source"].upcase.start_with?('BBC')
                "BBC"
              elsif articles_one.first["source"].upcase.start_with?('CNN')
                "CNN"
              elsif articles_one.first["source"].upcase == ('EN')
                "Sputnik"
              elsif articles_one.first["source"].upcase.start_with?('FOX')
                "FOX News"
              else
                articles_one.first["source"].upcase
              end
            end  %>
        </h2>
          <%= link_to comparison_add_article_one_path(comparison), class: "maxi-add-article-button" do %>
            <span style="float: right; direction:rtl"><i class="fas fa-plus-circle"> <span >ADD ARTICLE</span></i></span>
          <% end %>
      </div>
      <!-- <div class="articles-card-container">
        <div id="my_canvas" data-words="<%= @words_one %> "style='height: 268px; width: 733px; border-radius: 8px;'></div>
      </div> -->
      <% @articles_one.each do |article| %>
        <% if article.nil? %>
          <script>alert("No more articles available from this publisher.")</script>
        <% else %>
          <div class="articles-card-container">
            <div class="articles-card-image">
              <% if article["image"].nil? %>
                <%= image_tag "no-image.png", alt: "image not found" %>
              <% else %>
                <img src=<%= article["image"]%> alt="article image">
              <% end %>
            </div>
            <div class="article-card-text">
              <div>
                <div class="articles-card-date-cat">
                  <p><%= article["category"].upcase %> </p>
                  <%= article["published_at"].first(10) %>
                  <%= link_to comparison_remove_article_one_path(@comparison, article), class: "maxi-remove-article-button" do %>
                  <i class="far fa-window-close"></i>
                  <% end %>
                </div>
                <div class="article-card-info">
                  <h5 class="info-title"><%= article["title"] %> </h5>
                  <p class="info-description"><%= article["description"] %> </p>
                </div>
              </div>
              <div class="article-author-sentiment">
                <p class="author"><%= article["source"] %> </p>
                <p class="sentiment">Tone: <%= article["sentiment_description_string"] %> </p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="articles-right">
      <div class="comparison-header">
        <%= link_to comparison_add_article_two_path(comparison), class: "maxi-add-article-button" do %>
          <span style="float: right; direction:rtl"><i class="fas fa-plus-circle"> <span >ADD ARTICLE</span></i></span>
        <% end %>
        <h2 class="header" id="myHeader">
          <%= unless (articles_two.empty? || articles_two.nil? )
          if articles_two.first["source"].upcase.start_with?('BBC')
            "BBC"
          elsif articles_two.first["source"].upcase.start_with?('CNN')
            "CNN"
          elsif articles_two.first["source"].upcase == ('EN')
            "Sputnik"
          elsif articles_two.first["source"].upcase.start_with?('FOX')
            "FOX News"
          else
            articles_two.first["source"].upcase
           end
          end  %>
        </h2>
      </div>
      <!--<div class="articles-card-container">
        <div id="my_canvas" data-words="<%= @words_two %>  "style='height: 268px; width: 268px; border-radius: 8px;'></div>
      </div> -->
      <% @articles_two.each do |article| %>
        <% if article.nil? %>
          <script>alert("No more articles available from this publisher.")</script>
        <% else %>
          <div class="articles-card-container">
            <div class="article-card-text">
              <div>
                <div class="articles-card-date-cat">
                  <p><%= article["category"].upcase %> </p>
                  <%= article["published_at"].first(10) %>
                  <%= link_to comparison_remove_article_two_path(@comparison, article), class: "maxi-remove-article-button" do %>
                  <i class="far fa-window-close"></i>
                  <% end %>
                </div>
                <div class="article-card-info">
                  <h5 class="info-title"><%= article["title"] %> </h5>
                  <p class="info-description"><%= article["description"] %> </p>
                </div>
              </div>
              <div class="article-author-sentiment">
                <p class="author"><%= article["source"] %> </p>
                <p class="sentiment">Tone: <%= article["sentiment_description_string"] %> </p>
              </div>
            </div>
            <div class="articles-card-image">
              <% if article["image"].nil? %>
                <%= image_tag "no-image.png", alt: "image not found" %>
              <% else %>
                <img src=<%= article["image"]%> alt="article image">
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="bottom" style="background-color: black; height: 50px; position: reletive;">
    <div class="save">
      <% if current_user %>
        <%= link_to 'Save Comparison', comparison_create_entries_path(comparison), method: :post, class: "button-primary" %>
      <% else %>
        <%= link_to "login", new_user_session_path, class: "button-primary"  %>
      <% end %>
    </div>
  </div>
</div>
