<div class="my-container">
  <div class="row">
    <div class="profile-container" style="margin-left: 950px;">
      <div class="col-sm-12 col-lg-5">
        <div class="profile-pic-container d-flex">
          <p class="greeting-board" style="color:white; font-family: inconsolata; font-size: 12px; margin-top: 15px;">37 Shares</p>
          <p class="greeting-board" style="color:white; font-family: inconsolata; font-size: 12px; margin-top: 15px; margin-left: 30px;">24 Comments</p>
          <p class="greeting-board" style="color:white; font-family: inconsolata; font-size: 20px; margin-top: 10px; margin-left: 30px;">Tom Johnsson</p>
          <i><%= image_tag "profile.jpg", style: 'height:53px;width:53px;border-radius:2px;margin-top:10px;margin-left:20px;' %></i>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-lg-12" id="board-card-container">
    <% @comparisons.each do |comparison|%>
      <div class="board-card">
        <div class="container">
        <div class="row">
          <div class="topic-delete col-lg-12 d-flex justify-content-between">
                <h3 style="color: white;"><%= comparison.topic.capitalize %></h3>
                <%= link_to comparison_path(comparison), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "maxi-remove-article-button" do %>
                  <i class="far fa-window-close" style="color: white;"></i>
                  <% end %>
              </div>
        </div>
          <div class="row">
            <div class="board-card-left col-lg-7">
              <p style="color: white;">SOURCE1</p>
              <p style="color: white;">SOURCE1</p>
              <%# <p class="board-source" style="color: white;"><%= Source.find(comparison.publisher_one).name%>
              <%# <p class="board-source" style="color: white;"><%= Source.find(comparison.publisher_two).name%>
            </div>
          </div>

          <div class="row">
            <div class="board-card-bottom col-lg-6 d-flex">
              <p style="color: white;"><%= comparison.start_date%></p>
              <p style="color: white;"><span>&nbspto </span><%= comparison.end_date%></p>
            </div>
            <div class="board-card-discussion-info col-lg-6 d-flex justify-content-between">
              <span></span>
              <span></span>
              <i class="board-card-right" style="margin-bottom:10px;"> <%= link_to "Open Comparison", comparison_path(comparison)%></i>
              <i class="fas fa-share-alt" style="color: white; margin-right: 0px; margin-top: 20px;"></i>
            </div>
        </div>
        <div class="row">
          <div class="board-card-bottom-border col-lg-12">
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
