
<div class="row">
  <div class="col-sm-12 col-lg-5" id="board-card-container">
  <h1 id="headline-board-comparisons">Comparisons</h1>
  <% @comparisons.each do |comparison|%>
    <div class="board-card">
      <div class="container">
       <div class="row">
        <div class="topic-delete col-lg-12 d-flex justify-content-between">
              <h3><%= comparison.topic.capitalize %></h3>
              <%= link_to comparison_path(comparison), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: "maxi-remove-article-button" do %>
                <i class="far fa-window-close"></i>
                <% end %>
            </div>
       </div>
        <div class="row">
          <div class="board-card-left col-lg-7">

            <p class="board-source"><%= Source.find(comparison.publisher_one).name %></p>
            <p class="board-source"><%= Source.find(comparison.publisher_two).name%></p>
          </div>
          <div class="board-card-right col-lg-5">
            <%= link_to "Open Comparison", comparison_path(comparison)%>
          </div>
        </div>

        <div class="row">
          <div class="board-card-bottom col-lg-6 d-flex">
            <p><%= comparison.start_date%></p>
            <p><span>&nbspto </span><%= comparison.end_date%></p>
          </div>
          <div class="board-card-discussion-info col-lg-6 d-flex justify-content-between">
            <span></span>
            <span></span>
            <i class="fas fa-share-alt"></i>
          </div>
      </div>
      <div class="row">
        <div class="board-card-bottom-border col-lg-12">
        </div>
      </div>
    </div>
  </div>

<% end %>
</div>
<div class="col-sm-12 col-lg-7" style="background-color: black; min-height: 100vh;">
  <div class="row">
    <div class="logos-comparison col-lg-8 d-flex justify-content-around">
      <% @comparisons.each do |comparison|%>
      <%= cl_image_tag(Source.find(comparison.publisher_one).img_cloudinary,
        width: 70, height: 70, crop: :fill) %>
      <%= cl_image_tag(Source.find(comparison.publisher_two).img_cloudinary,
        width: 70, height: 70, crop: :fill) %>
      <% end %>
    </div>
  </div>

  <div class="row">
        <% @comparisons.each do |comparison| %>
        <div class="sentiment-stats d-flex justify-content-around">
          <p class="sentiment-comparison-one" style="color: white;">Sentiment: <%= comparison.sentiment_one %></p>
          <p class="sentiment-comparison-two" style="color: white;">Sentiment: <%= comparison.sentiment_two %></p>
        </div>
    <% end %>
  </div>
  <div class="row">
        <% @comparisons.each do |comparison| %>
        <div class="sentiment-stats d-flex justify-content-around">
          <p class="sentiment-comparison-one" style="color: white;">Sentiment: <%= comparison.articles_one %></p>
          <p class="sentiment-comparison-two" style="color: white;">Sentiment: <%= comparison.sentiment_two %></p>
        </div>
    <% end %>
  </div>
</div>
