<!DOCTYPE html>
<html>
  <head>
    <title>Unbias Global - Discover news biases around the world </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'logo.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>
    <meta property="og:title" content="Unbias Global - Discover news biases around the world" >
    <meta property="og:description" content="The go-to place to get a balanced view on news from all over the world" >
    <meta property="og:type" content=" website" />
    <meta property="og:url" content=" " />
    <meta property="og:image" content="" />
  </head>

  <body>
  <% if content_for? :nav %>
  <%= content_for :nav %>
  <% else %>
    <%= render 'shared/navbar' %>
  <% end %>
    <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= render 'shared/flashes' %>
       <%= render'shared/footer' %>
  </body>
</html>
